<article class="feed {{visibility}} {{post_class}}">            

    <h2 class="feed-title">{{title}}</h2>

    {{#primary_tag}}
        <div class="single-meta-item single-meta-tag">
            {{name}}
        </div>
    {{/primary_tag}}    

    <div class="feed-right">
        {{> "icons/star"}}
        <div class="feed-length">
            {{reading_time}}
        </div>
    </div>

    {{> "icons/chevron-right"}}

    <a class="u-permalink" href="{{url}}" aria-label="{{title}}"></a>

</article>
